body
{
    background: url("team.jpg") repeat fixed 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans',monospace;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}


/*Naivigation Bar Content*/
div.navigationBar nav a
{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/*Navigation Bar Hover*/
div.navigationBar nav ul li a:hover
{
    color: #00e676;
}

/*Navigation Bar Clicked*/
div.navigationBar nav ul li a:active
{
    color:#00c853;
}


ul.sidenav li a
{
    color: white;
    text-decoration: none;
}

ul.sidenav li a:hover
{
    color: greenyellow;
    text-decoration: none;
}



/*Team Button*/
span.logo a:hover
{
    -webkit-transform: scale(1.2);
}


/*Navigation Bar Line*/
div.line
{
    width:100%;
    height: 27px;
    border-bottom: 1px solid white;
    position: absolute;
    margin-top: -25px;
}

div.team
{
    color:white;
    text-align: center;
    font-family: 'Open Sans',monospace;
    text-align: center;
    padding-top: 20%;
    font-size: 40px;
}


/*TEAM*/
section.Team
{
    background-color: #eeeeee;
    font-family: 'Raleway',monospace;
    margin-top: 300px;
    width: 100%;
    padding-bottom: 10%;
    color: black;
    text-align: center;
}

/*TEAM*/
section.Contact
{
    background-color:  #e0e0e0;
    font-family: 'Raleway',monospace;
    margin-top: -20px;
    width: 100%;
    padding-bottom: 10%;
    color: black;
    text-align: center;
}

.contact-parallax
{
    background: url("https://www.ashokleyland.com/documents/1305159/1312286/Contact+us_topbanner_cropped.jpg/97407cec-b0fb-6e71-0062-76d3b367f6d2?t=1523941263566") fixed 100%;
    color: white;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
}

.contact-inner-parallax
{
    padding-top: 10%;
    padding-bottom: 10%;
}
section.Team h3
{
    font-size: 20px;
}

div.row
{
    margin-left: 10px;
}

div.contact
{
    margin-left: 40%;
    width: 100%;
    height: 50%;
}

button
{
    margin: auto;
}
