body
{
    background: url("https://writemypaper4me.org/static/img/regular/researcg-paper-conclusion.jpg") fixed 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans',monospace;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}


/*Naivigation Bar Content*/
div.navigationBar nav a
{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/*Navigation Bar Hover*/
div.navigationBar nav ul li a:hover
{
    color: #00e676;
}

/*Navigation Bar Clicked*/
div.navigationBar nav ul li a:active
{
    color:#00c853;
}


/*Team Button*/
span.logo a:hover
{
    -webkit-transform: scale(1.2);
}


/*Navigation Bar Line*/
div.line
{
    width:100%;
    height: 27px;
    border-bottom: 1px solid white;
    position: absolute;
    margin-top: -25px;
}

ul.sidenav li a
{
    color: white;
    text-decoration: none;
}

ul.sidenav li a:hover
{
    color: greenyellow;
    text-decoration: none;
}


div.Conclusion
{
    color:white;
    text-align: center;
    font-family: 'Open Sans',monospace;
    margin-top: 200px;
    font-size: 40px;
}


/*TEAM*/
section.Hassan
{
    background-color: #eeeeee;
    font-family: 'Raleway',monospace;
    margin-top: 300px;
    width: 100%;
    padding-bottom: 60%;
    color: black;
    text-align: center;
}

section.Raj
{
    background-color: #bdbdbd;
    font-family: 'Raleway',monospace;
    width: 100%;
    padding-bottom: 40%;
    color: black;
    text-align: center;
}


div.text
{
    margin-left: 30%;
}
