
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('mainPage.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
span.title
{
    text-decoration: none;
    color: greenyellow;
}

span.link a
{
    color: yellow;
    font-size: 20px;
    text-decoration: none;
}

span.link a:hover
{
    color: wheat;
}
