body
{
    background-color: black;
    font-family: 'Open Sans',monospace;
    color: black;
    max-width: 100%;
    overflow-x: hidden;
}


/*Naivigation Bar Content*/
div.navigationBar nav a
{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

span.logo a:hover
{
    -webkit-transform: scale(1.2);
    color: greenyellow;
    text-decoration: none;
}

/*Navigation Bar Hover*/
div.navigationBar nav ul li a:hover
{
    color: #00e676;
}

/*Navigation Bar Clicked*/
div.navigationBar nav ul li a:active
{
    color:#00c853;
}

ul.sidenav li a
{
    color: white;
    text-decoration: none;
}

ul.sidenav li a:hover
{
    color: greenyellow;
    text-decoration: none;
}



div.title
{
    color:black;
    text-align: center;
    font-family: 'Open Sans',monospace;
}

div.Reference-innner ol
{
    text-align: center;
    list-style-position: inside;
}

div.Reference-innner ol li a
{
    text-decoration: none;
}

div.Reference-innner ol li a:hover
{
    text-decoration: none;
    color: green;
}
